.background{
  background-color: #CBF3F0;
}

h1{
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  color: #C8553D;
}
.nav{
  display: inline-flex;
}
.buttonborder{
  width: 50%;
  height: 100px;
}
.pictureborder{
  width: 20%;
}
.buttons{
  display: inline-flex;
  float: right;
}
.button{
 padding: 10px;
}



